.hero
{
    position: relative;

}
.hero-banner-img
{
    width: 100%;
    mask-image: linear-gradient(to right  , transparent  , black 50%);
}
.caption-main
{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-left: 8%;

}
.hero-title-img
{
    width: 90%;
    max-width: 450px;
    margin-bottom: 30px;
}
.caption-main p
{
    font-size: 17px;
    margin-bottom:20px ;
    max-width: 700px;
}

.hero-buttons
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-buttons .btn-hero 
{
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 8px 25px;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    gap: 15px;
    border-radius: 4px;
    background-color: rgb(107, 107, 107);
    
}
.hero-buttons .btn-hero img
{
    width: 35px;
}
.hero-buttons .btn-hero:hover
{
    background-color: rgb(185, 179, 179);
}
.card-more-shows
{
     padding-left: 6%;

}


