.TitleCards{
    margin-top: 60px;
    margin-bottom: 20px;
    
}
.TitleCards h2
{
    margin-bottom: 10px;
    font-size: 30px;
}
.cardList
{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    
}
.cardList::-webkit-scrollbar
{
    display: none;
}


.cardList img
{
    width: 300px;
    border-radius:4px ;
    cursor: pointer;
}
.cardList .card
{
    position: relative;
}
.cardList .card p
{
    bottom: 5px;
    right: 10px;
    font-size: 26px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
