
.Footer
{
    background-color: rgb(23, 22, 22);
    margin-top: 60px;
    width: 100%;
}

.footerIcons
{
    margin-left: 6%;
    margin-top: 20px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}
.footerIcons img
{
    width: 40px;
    cursor: pointer;
}
.titles
{
    margin-top: 20px;
    margin-left: 40%;
    display: flex;
    gap: 40px;
    align-items: center;
}
.list-options
{
    display: grid;
    margin: 10px;
    gap: 10px; 
    font-size: 20px;
    list-style: none;
    
}
.list-options li
{
    cursor: pointer;
}
.list-options li:hover
{
    text-decoration: underline;
}
span
{
    margin-left: 6%;
    font-size: 15px;
}